body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Lato', Helvetica, arial, sans-serif;
}

.stage {
    transform: scale(0.85);
    perspective: 1200px;
    perspective-origin: 50% 50%;
    margin-top: 150px;
}

.pyramid3d {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(75deg) rotate(65deg);
    animation: turnPyramid 10s linear infinite;
}

.triangle {
    transform-style: preserve-3d;
    width: 0;
    height: 0;
    background: none;
}

.triangle:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 176px 75px 0 75px;
}

.side1 {
    transform: translatex(0) rotatey(115.2deg) rotatez(90deg);
}

.side2 {
    transform: translatex(150px) rotatez(90deg) rotatex(64.8deg);
}

.side3 {
    transform: translatez(0) rotatex(64.8deg);
}

.side4 {
    transform: translatey(150px) rotatex(115.2deg);
}

.side1:before {
    border-color: rgba(115, 115, 0, 0.3) transparent transparent transparent;
}

.side2:before {
    border-color: rgba(20, 90, 225, 0.3) transparent transparent transparent;
}

.side3:before {
    border-color: rgba(255, 0, 0, 0.3) transparent transparent transparent;
}

.side4:before {
    border-color: rgba(0, 255, 255, 0.3) transparent transparent transparent;
}

@keyframes turnPyramid {
    100% {
        transform: rotateX(75deg) rotate(425deg);
    }
}
